@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;  
    background: #001821;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.42;  
    margin: 0;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
}


*, ::before, ::after {
    box-sizing:  border-box;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none; 
}


img {
    max-width: 100%;    
    height: auto;
}