.logo {
    display: inline-block;
    position: absolute;
    width: 85px;
    height: 36px;      
    left: 0;
    top: 29px;     
}


.logo--services{
    width: 96px;
    height: 42px;
}

    .logo__pic {
        /* Вынес в start */
        /* max-width: 100%; */
        /* height: auto; */
    }