.nav {
                    
}
.nav__list {
   display: flex;     
}
.nav__item {
    /* display: inline-block; */
    /* vertical-align: middle;                  */    
    margin-right: 54px;  
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    transition: 0.5s;
    font-size: 14px;
}

.nav .nav__link:hover {   
    color: #dfb56d;
}
