.paginator {       
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center;                  */
    font-size: 16px;
}
.paginator__desc {
    /* display: inline-block;                     */
    /* vertical-align: middle; */
    /* margin-left: 0px; */
    margin-right: 26px;
    /* line-height: 1.25; */
}
.paginator__list {
    /* display: inline-block;                     */
    /* vertical-align: middle; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginator__item {
    /* display: inline-block;                     */
    /* vertical-align: middle;                                            */
    text-align: center;
    margin-right: 6px;
}

.paginator__ref {
    display: block;
    width: 32px;
    height: 32px;
    padding-top: 5px; 
    border-radius: 32px;                                                    
    font-weight: Bold;
    margin-right: -4px;                        
    line-height: 1.3125;   
    text-decoration: none; 
    transition: 0.5s;
}

.paginator__ref--theme-primary{
    color: white;
    /* background: #FFFFFF;  */
}

.paginator__ref--theme-primary-active {
    color: #F5170E;                        
    background: #FFFFFF; 
}

.paginator__ref--theme-primary:hover {    
    color: #F5170E;                        
    background: #FFFFFF; 
}


.paginator__ref--theme-secondary{
    color: black;                        
    /* background: #FFFFFF;  */
}

.paginator__ref--theme-secondary-active {
    color: white;
    background: #F5170E;
}

.paginator__ref--theme-secondary:hover {    
    color: white;
    background: #F5170E;
}